@font-face {
  font-family: 'Klavika';
  font-weight: normal;
 /* src: url('../fonts/klavika/Klavika-Regular.otf'); */
  src: url('../fonts/klavika/klavika-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/klavika/klavika-regular-webfont?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/klavika/klavika-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/klavika/klavika-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/klavika/klavika-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/klavika/klavika-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Klavika';
  font-weight: bold;
/*  src: url('../fonts/klavika/Klavika-Medium.otf'); */
  src: url('../fonts/klavika/klavika-medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/klavika/klavika-medium-webfont?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/klavika/klavika-medium-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/klavika/klavika-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/klavika/klavika-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/klavika/klavika-medium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Klavika';
  font-weight: bolder;
  /*src: url('../fonts/klavika/Klavika-Bold.otf'); */
  src: url('../fonts/klavika/klavika-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/klavika/klavika-bold-webfont?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/klavika/klavika-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/klavika/klavika-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/klavika/klavika-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/klavika/klavika-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Klavika';
  font-weight: lighter;
  /*src: url('../fonts/klavika/Klavika-Light.otf');*/
  src: url('../fonts/klavika/klavika-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/klavika/klavika-light-webfont?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/klavika/klavika-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/klavika/klavika-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/klavika/klavika-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/klavika/klavika-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */

}
@font-face {
  font-family: 'Klavika';
  font-style: italic;
  /*src: url('../fonts/klavika/Klavika-LightItalic.otf'); */
  src: url('../fonts/klavika/klavika-lightitalic-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/klavika/klavika-lightitalic-webfont?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/klavika/klavika-lightitalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/klavika/klavika-lightitalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/klavika/klavika-lightitalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/klavika/klavika-lightitalic-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Klavika';
  font-style: oblique;
  /*font-style: italic;*/
  /*src: url('../fonts/klavika/Klavika-MediumItalic.otf');*/
  src: url('../fonts/klavika/klavika-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/klavika/klavika-mediumitalic-webfont?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/klavika/klavika-mediumitalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/klavika/klavika-mediumitalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/klavika/klavika-mediumitalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/klavika/klavika-mediumitalic-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

  body{
  	font-family: 'Klavika','sans-serif';
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	/*overflow: hidden;*/
	// display: flex;
	// justify-content: center;
  }

.nav__pdf{
	display: flex;
	height: 130px;
	/*background-color: black;*/
	width: 100%;
	// align-items: center;
	color: white;
	flex-direction: row;
	justify-content: space-around;
}

.nav--logo{
	// height: 40px;
	background-repeat: no-repeat;
	margin-left: 40px;
	opacity: 1;
	margin-bottom: 10px;
}

.nav--font-size{
	margin-top: 40px;
	font-size: 35px;
}

.section-one-pdf{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 350px;
	flex-direction: column;
}

.section-one-part-two{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 380px;
	flex-direction: column;
}

.section-one__wrapper{
	// max-width: 980px;
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    box-sizing: border-box;
}

.section-one-part-two__wrapper-two{
	max-width: 1100px;
	width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  

}

.section-one--img1{
	background-repeat: no-repeat;
	// margin-top: 50px;
	// width: 100%;
	/*height: 260px;*/
    box-sizing: border-box;

}

.section-one-part-two--img2{
	margin-top: 80px;
	// background: url('../images/pdfImages/blocks.svg');
	background-repeat: no-repeat;
	// width: 100%;
	// height: 200px;
}

.section-two-pdf{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width:100%;
	height: 500px;	
    padding-left: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

}

.section-two--bgImage{
	background: url('../images/pdfImages/background-img.svg');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	position: relative;	
	background-position: -100px -80px;
    // background-position: 0px -150px;

}

.section-two--filter:before{
	content: '';
	height: 500px;
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
  	background-image:linear-gradient(to right, #CD1B5C, #803687);
  	opacity: .9;
}

.section-two-pdf__wrapper{
	display: flex;
	// max-width: 980px;
	width: 90%;
	min-height: 250px;
	height: 90%;
    justify-content: center;
    align-items: center;

}

.section-three{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2A2C30;
	width: 100%;
	height: 500px;
}

.section-three__wrapper{
	display: flex;
	// max-width: 1200px;
	justify-content: center;
    align-items: center;
	width: 100%;
	position: relative;
	padding-left: 270px;
	// height: 90%;
}

.section-three__text{
	// height: 250px;
	// width: 100%;
	background-repeat: no-repeat;
}

.section-four{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
}

.section-four__text{
	margin-right: 420px;
	// width: 100%;
	// height: 200px;
	background-repeat: no-repeat;	
    top: 50px;
    left: -400px;
    height: 300px;
    position: absolute;

}

.section-four___wrapper{
	height: 90%;
	width: 90%;	
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.section-four__computer{
	// background: url('../images/pdfImages/computer.svg');
	// width: 75%;
	// height: 600px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: -195px;	
    left: 200px;
    background-size: cover;

}

.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	width: 100%;
	background-color: #2A2C30;
}

.footer__wrapper{
	display: flex;
	// width: 35%;
	height: 60%;
	max-width: 980px;
	// margin-top: 20px;
    align-items: center;

}

.footer__text{
	background-repeat: no-repeat;
	// height: 65px;
	// width: 100%;
}

.nav--bgImage{
	background: url('../images/background.svg');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	z-index: -3;
	height: 130px;
	width: 100%;
	width: 1786px;
}
.nav--bgImage--filter:before{
	content: '';
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .7;
	height: 130px;
	width: 100%;
	background-color: #000;
	z-index: -2;
}

.nav-pdf__blue-slash{
	background: url('../images/blue-slash.svg');
	background-repeat: no-repeat;
	height: 25px;
	width: 1%;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 45px;
}

.nav--padding{
	margin-right: 40px
}


.container{
	width: 1786px;
	height: 2526px;
	position:absolute;
	// left:-10000px;
	 top: 100%;
	// zoom: .3;

}

.section-two-pdf__text{
	position: relative;
	
	// width: 100%;
	// height: 250px;

}

#section-one-gains .section-two__text{
	color: #D74154;
	font-style: italic;
}

#section-one-inefficientCosts .section-two-pdf__text{
	color: #D74154;
	font-style: italic;
}

#section-one-roi .section-two__text{
	color: #D74154;
}
.nav__wrapper{
	display: flex;
	flex: 1 0 0;
	height: 90%;
	width: 90%;
	align-items: center;
	justify-content: flex-start;
}

.section-one-pdf__values{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	font-size: 50px;
	position: absolute;
	left: 0;
	display: flex;
	flex-direction: row;
    // max-width: 1400px;
    width: 100%;
    // justify-content: space-around;
    top: 520px;
    // left: 210px;

    // display: flex;
    // justify-content: space-around;
    // margin-top: 1100px;


}

/*hide all below on include*/
.section-two__values{
	font-size: 90px;
	font-weight: bold;
	color: #000;
	font-style: normal;
	display: inline-flex;

}

.section-two__dollar{
	font-size: 50px;
	color: #000;
	font-weight: bold;

}

.section-two__value{
	flex-grow: 1;
}

.section-two-pdf__text{
	// width: 290px;
	display: block;
	// height: 38px;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;

}

.section-two-pdf__values{
	font-size: 80px;
	font-weight: bold;
	color: #000;
	font-style: normal;
	display: inline-flex;
	width: 100%;
	justify-content: center;
}

.section-two__value-wrapper{
    position: relative;
    flex-direction: row;
    flex-grow: 1;
    display: flex;
    // margin-left: 20px;
    justify-content: flex-start;

}
.section-two__letter1, .section-two__letter2{
	font-weight: bold;
	font-size: 55px;
	padding-top: 23px;
	margin-left: 10px;
}

#section-one-roi .section-two-pdf__text{
	color: #03929D;
	font-size: 45px;
}
#section-one-roi{

    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    padding-bottom: 20px;

}

#section-one-roi .section-two__text:last-child{
    font-size: 40px;
    padding-top: 10px;
    color: #03929D;
    width: 350px;

}

.section-two__arrow-up{
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 20px;
	border-color: #D74154 transparent transparent transparent;
}

.section-two__arrow-down{
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #03929D;
	margin-top: 20px;
	margin-right: 15px;
	margin-left: 50px;
}

#section-one-gains{
	color:#03929D;
}

.section-one-pdf__values{

	// height: 300px;
}

#section-one-inefficientCosts{
	
	font-weight: normal;
}

.section-one-pdf__values > div{
	min-width: 450px;
	height: 230px;
	border: 3px solid #E6E7E8;
	text-align: center;
	border-radius: 10px;
	box-shadow: 8px 15px 20px 8px #F7F7F7;
	font-weight: medium;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;

}

.section-three__value{
    position: relative;
    color: white;
    font-size: 90px;
    // bottom: 50px;
    right: 1200px;
    font-weight: bold;
    bottom: 20px;

}

.nav--font-size > span{
	font-weight: bold;
}


