@font-face {
  font-family: 'Klavika';
  font-weight: normal;
  src: url("../fonts/klavika/Klavika-Light.otf"); 
}

 @font-face {
  font-family: 'Klavika';
  font-weight: bold;
  src: url('../fonts/klavika/Klavika-Medium.otf'); 

}

  @font-face {
  // font-family: 'Klavika';
  // font-style: oblique;
  // font-style: italic;
  // src: url('../fonts/klavika/Klavika-MediumItalic.otf'); 
}

  body{
  	font-family: 'Klavika','sans-serif';
  }

.nav__pdf{
	display: flex;
	height: 130px;
	/*background-color: black;*/
	width: 100%;
	align-items: center;
	color: white;
	flex-direction: row;
	justify-content: space-around;
}

.nav--logo{
	// height: 40px;
	background-repeat: no-repeat;
	margin-left: 40px;
	opacity: 1;
}

.nav--font-size{
	font-size: 35px;
}

.section-one-pdf{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 450px;
	flex-direction: column;
}

.section-one-part-two{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 380px;
	flex-direction: column;
}

.section-one__wrapper{
	// max-width: 980px;
    width: 90%;
    // height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    margin-top: 50px;
    box-sizing: border-box;
}

.section-one-part-two__wrapper-two{
	max-width: 1100px;
	width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  

}

.section-one--img1{
	background-repeat: no-repeat;
	margin-top: 50px;
	// width: 100%;
	/*height: 260px;*/
    box-sizing: border-box;

}

.section-one-part-two--img2{
	margin-top: 80px;
	// background: url('../images/pdfImages/blocks.svg');
	background-repeat: no-repeat;
	// width: 100%;
	// height: 200px;
}

.section-two-pdf{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width:100%;
	height: 550px;
}

.section-two--bgImage{
	background: url('../images/pdfImages/background-img.svg');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	position: relative;	
    background-position: 0px -150px;

}

.section-two--filter:before{
	content: '';
	height: 550px;
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
  	background-image:linear-gradient(to right, #CD1B5C, #803687);
  	opacity: .95;
}

.section-two-pdf__wrapper{
	display: flex;
	// max-width: 980px;
	width: 90%;
	min-height: 250px;
	height: 90%;
    justify-content: center;
    align-items: center;

}

.section-three{
	display: flex;
	align-items: center;
	// justify-content: center;
	background-color: #2A2C30;
	width: 100%;
	height: 550px;
}

.section-three__wrapper{
	display: flex;
	// max-width: 1200px;
	justify-content: center;
    align-items: center;
	width: 90%;
	position: relative;
	height: 90%;
}

.section-three__text{
	// height: 250px;
	// width: 100%;
	background-repeat: no-repeat;
}

.section-four{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 575px;
}

.section-four__text{
	margin-right: 420px;
	// width: 100%;
	// height: 200px;
	background-repeat: no-repeat;	
    top: 50px;
    left: -400px;
    height: 300px;
    position: absolute;

}

.section-four___wrapper{
	height: 90%;
	width: 90%;	
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.section-four__computer{
	// background: url('../images/pdfImages/computer.svg');
	// width: 75%;
	// height: 600px;
	background-repeat: no-repeat;
	position: absolute;
	top: -100px;	
    left: 220px;
    background-size: cover;

}

.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	width: 100%;
	background-color: #2A2C30;
}

.footer__wrapper{
	display: flex;
	width: 35%;
	height: 60%;
	max-width: 980px;
    align-items: center;

}

.footer__text{
	background-repeat: no-repeat;
	// height: 65px;
	// width: 100%;
}

.nav--bgImage{
	background: url('../images/background.svg');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	z-index: -3;
	height: 130px;
	width: 100%;
	// width: 1500px;
}
.nav--bgImage--filter:before{
	content: '';
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .7;
	height: 130px;
	width: 100%;
	background-color: #000;
	z-index: -2;
}

.nav__blue-slash{
	background: url('../images/blue-slash.svg');
	background-repeat: no-repeat;
	height: 25px;
	width: 1%;
	margin-left: 20px;
	margin-right: 20px;
}

.nav--padding{
	margin-right: 40px
}


.container{
	min-width: 1500px;
	min-height: 1500px;
}

.section-two-pdf__text{
	position: relative;
	
	// width: 100%;
	// height: 250px;

}

#section-one-gains .section-two__text{
	color: #D74154;
}

#section-one-inefficientCosts .section-two-pdf__text{
	color: #D74154
}

#section-one-roi .section-two__text{
	color: #D74154;
}
.nav__wrapper{
	display: flex;
	flex: 1 0 0;
	height: 90%;
	width: 90%;
	align-items: center;
	justify-content: flex-start;
}

.section-one-pdf__values{
	font-size: 50px;
	position: relative;
	display: flex;
	flex-direction: row;
    // max-width: 1400px;
    width: 100%;
    // justify-content: space-around;
    top: 520px;
    // left: 210px;

    // display: flex;
    // justify-content: space-around;
    // margin-top: 1100px;


}

/*hide all below on include*/
.section-two__values{
	font-size: 90px;
	font-weight: bold;
	color: #000;
	font-style: normal;
	display: inline-flex;

}

.section-two__dollar{
	font-size: 50px;
	color: #000;
	font-weight: bold;

}

.section-two-pdf__text{
	// width: 290px;
	display: block;
	// height: 38px;
	font-size: 30px;
	font-weight: bold;
}

.section-two-pdf__values{
	font-size: 50px;
	font-weight: bold;
	color: #000;
	font-style: normal;
	display: inline-flex;
}

#section-one-roi .section-two-pdf__text{
	color: #03929D;
}
#section-one-roi{

    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

}

#section-one-roi .section-two__text:last-child{
    font-size: 40px;
    padding-top: 10px;
    font-style: italic;
    color: #03929D;
    width: 350px;
    font-weight: bold;
}

.section-two__arrow-up{
	margin-top: 20px;
	margin-right: 15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 20px;
	border-color: #D74154 transparent transparent transparent;
}

.section-two__arrow-down{
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #03929D;
	margin-top: 20px;
	margin-right: 15px;
}

#section-one-gains{
	color:#03929D;
}

.section-one-pdf__values{
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	// height: 300px;
	margin-top: 140px;
}

#section-one-inefficientCosts{
	
	font-weight: normal;
}

.section-one-pdf__values > div{
	min-width: 430px;
	height: 230px;
	border: 3px solid #E6E7E8;
	text-align: center;
	border-radius: 10px;
	box-shadow: 8px 15px 20px 8px #F7F7F7;
	font-weight: medium;
	font-style:italic;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.section-three__value{
    position: relative;
    color: white;
    font-size: 80px;
    bottom: 50px;
    left: 410px;
}


